%h1 Daniela and Harold's Guest Plotter

= simple_form_for @new_guest do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :category, as: :select, collection: Guest::CATEGORIES
  = f.input :rank, as: :select, collection: (0..5), include_blank: false
  = f.submit 'Add Guest'


%h3 The total number of guests is #{@guests.count}
%table.guests
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Category
      %th Rank
  - @guests.each do |guest|
    %tr
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.category
      %td= guest.rank


