%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Category?
      %th
      %th
      %th
      %th
  - @friend_guests.each do |friend|
    %tr
      = form_for friend, url: guests_path do |f|
        %td= friend.first_name
        %td= friend.last_name
        %td= f.select :category, options_for_select: Guest::CATEGORIES.map{|c| [c,c]}
        %td= f.hidden_field :facebook_id
        %td= f.hidden_field :first_name
        %td= f.hidden_field :last_name
        %td= f.submit
